<div style="width: 90vw; margin: auto;">
  <div class="grid gap-7 pt-6">
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/ahorcado.png"
              alt="Placeholder image"
              class="games"
              (click)="goTo('/ahorcado')"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Ahorcado</p>
        </div>
      </div>
    </div>
  
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/naipes.jpg"
              alt="Placeholder image"
              class="games"
              (click)="goTo('/mayormenor')"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Mayor o menor</p>
        </div>
      </div>
    </div>
  
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/pregutados.jpg"
              alt="Placeholder image"
              class="games"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Preguntados</p>
        </div>
      </div>
    </div>
    
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/jueguito.png"
              alt="Placeholder image"
              class="games"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Otro juego</p>
        </div>
      </div>
    </div>
  
  </div>
</div>

<div style="width: 50vw; display: flex; margin: auto; justify-content: center; flex-wrap: nowrap;">
  <div class="notification is-danger is-light pl-6 pr-6" style="visibility: hidden;">
    <button class="delete" (click)="esconderNotificacion()"></button>
    {{notificacion}}
  </div>
</div>



@if (usuario != null){
  <div class = "pt-6" style="width: 80vw; height: 50vh; margin: auto;">
    <p class="title is-4 pt-6" style="text-align: center;">Chateá con la comunidad</p>
    <app-chat [user]='usuario' style="height: 50vh;"></app-chat>
  </div>
}
