<nav class="navbar" role="navigation" aria-label="main navigation">  
  <div class="navbar-brand">
    <div class="navbar-start">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNavbar()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </div>
  
    <div id="mi-navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" (click)="goTo('/home')">
          Home
        </a>
        <a class="navbar-item" (click)="goTo('/about')">
          Quien soy
        </a>
      </div>
  
      <div class="navbar-end">
        @if (usuario != null) {
          <div class="navbar-item">
            <h5 class="title is-5">{{usuario}}</h5>
          </div>
        }
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" (click)="userButtonClick()">
              <strong>{{userButton}}</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

<div style="width: 90vw; margin: auto;">
  <div class="grid gap-7 pt-6">
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/ahorcado.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Ahorcado</p>
        </div>
      </div>
    </div>
  
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/naipes.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Mayor o menor</p>
        </div>
      </div>
    </div>
  
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/pregutados.jpg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Preguntados</p>
        </div>
      </div>
    </div>
    
    <div class="cell p-2 m-2">
      <div class="card">
        <div class="card-image p-3">
          <figure class="image is-4by3">
            <img
              src="../../../assets/jueguito.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-3 p-2" style="text-align: center;">Otro juego</p>
        </div>
      </div>
    </div>
  
  </div>
</div>


@if (usuario != null){
  <div class = "pt-6" style="width: 80vw; height: 50vh; margin: auto;">
    <p class="title is-4 pt-6" style="text-align: center;">Chateá con la comunidad</p>
    <app-chat user={{usuario}} style="height: 50vh;"></app-chat>
  </div>
}
