<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
    <div class="login-form">
      <div class="login-header">
        <h1>Registrate</h1>
      </div>
    <h3>Mail:</h3>
    <input type="email" placeholder="Mail" [(ngModel)]="mail"/><br>
    <h3>Contraseña:</h3>
    <input type="password" placeholder="Contraseña" [(ngModel)]="contrasenia"/>
    <br>
    <button class="button is-link" (click)="registrar()">Registrar</button>
  </div>
  <div class="notification is-danger is-light" style="visibility: hidden;">
    <button class="delete" (click)="esconderNotificacion()"></button>
    {{notificacion}}
  </div>
</div>